<!doctype html>
<html ng-app="myAwesomeApp">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Stuff Todo!</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <base href="/" />

    <!-- build:css0 css/styles.min.css -->
    <!-- bower:css -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <link type="text/css" rel="stylesheet" href="css/frameworks_overrides.less" />
    <link type="text/css" rel="stylesheet" href="css/fonts.less" />
    <link type="text/css" rel="stylesheet" href="css/position.less" />
    <link type="text/css" rel="stylesheet" href="css/styles.less" />
    <link type="text/css" rel="stylesheet" href="css/media_queries.less" />
    <link type="text/css" rel="stylesheet" href="css/events.less" />
    <!-- endbuild -->

	</head>

	<body ng-controller="RouterController as routerCtrl">

		<div ng-viewport></div>

    <!-- build:js0 js/frameworks.min.js -->
    <!-- bower:js -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-socket-io/socket.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-xtorage/ng-xtorage.min.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="bower_components/angular-new-router/dist/router.es5.min.js"></script>
    <!-- endbuild -->

    <!-- build:js1 js/app.min.js -->
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/todo/model/todo.model.js"></script>
    <script type="text/javascript" src="js/todo/dao/todo.dao.js"></script>
    <script type="text/javascript" src="js/todo/resource/todo.resource.js"></script>

    <script type="text/javascript" src="js/common/controllers/router.controller.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="components/todo/todo.js"></script>
	</body>
</html>
