<!doctype html>
<html ng-app="<%= appName %>">
  <head>
    <% if (!cordova) {%>
    <base href="/"/>
    <% } %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <title>ng1 2do</title>
    <link rel="shortcut icon" type="image/ico" href="./favicon.png"/>

    <!-- build:libCss(./) lib_css_bundle.css -->
    <link type="text/css" rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css"/>
    <!-- endbuild -->

    <!-- build:appCss app_css_bundle.css -->
    <link type="text/css" rel="stylesheet" href="./todo/styles/todo.css"/>
    <!-- endbuild -->
  </head>

  <body>
    <main>
      <div ng-view></div>
    </main>
    
    <% if (!!cordova) { %>
    <script type="text/javascript" src="./cordova.js"></script>
    <% } %>

    <!-- build:libJs(./)  lib_scripts_bundle.js -->
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-route/angular-route.min.js"></script>
    <!-- endbuild -->

    <!-- build:appJs app_scripts_bundle.js -->
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./app.config.js"></script>
    <script type="text/javascript" src="./app.route.js"></script>
    <script type="text/javascript" src="./app.constant.js"></script>

    <script type="text/javascript" src="./todo/models/todo-model.js"></script>
    <script type="text/javascript" src="./todo/services/todo-dao.js"></script>
    <script type="text/javascript" src="./todo/controllers/todo-controller.js"></script>
    <!-- endbuild -->
  </body>
</html>
