<!doctype html>
<html ng-app="myAwesomeApp">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Stuff Todo!</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <base href="/" />

    <!-- build:css0 css/styles.min.css -->
    <!-- bower:css -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <link type="text/css" rel="stylesheet" href="css/frameworks_overrides.less" />
    <link type="text/css" rel="stylesheet" href="css/fonts.less" />
    <link type="text/css" rel="stylesheet" href="css/position.less" />
    <link type="text/css" rel="stylesheet" href="css/styles.less" />
    <link type="text/css" rel="stylesheet" href="css/media_queries.less" />
    <link type="text/css" rel="stylesheet" href="css/events.less" />
    <!-- endbuild -->

	</head>

	<body ng-controller="RouterController as routerCtrl">

		<div ng-viewport></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
    </script>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.load('index');
    </script>
	</body>
</html>
