<div >
  <form class="overflow-hidden"
        onsubmit="return false;"
        [ng-form-model]="todoForm">

    <h1 align="center">{{title}}</h1>

    <input type="text"
           #tmessage
           ng-control="message"
           (keyup.enter)="add(tmessage)"
           [class.error]="!todoForm.valid"
           placeholder="What do you have todo?"
           autofocus/>

    <button type="button"
            logger
            (click)="add(tmessage);"
            [disabled]="!todoForm.valid">+</button>
  </form>

  <ul>
    <li *ng-for="#t of todoList; #i = index;"
        (click)="remove(t.id);">{{i}}: {{t.todoMessage}}</li>
  </ul>
</div>
