.todo-panel
{
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    padding: 0 25px 25px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px rgba(72, 176, 72, 0.49);
    background-color: #fff;
}

.todos-container
{
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.todos-container .form-control
{
  font-size: 17px;
  border-radius: 0;
}

.footer-container .btn
{
    border-radius: 0;
}

.transition
{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

body
{
  background: url(../imgs/todo-bkg.png) #fafbfc;
}
