<div class="container">

  <div class="todo-panel transition">

    <form name="TodoForm"
          ng-submit="todosCtrl.createTodo(todosCtrl.todo)" >

      <div class="title-container">
        <h1 class="text-muted text-center">Todo</h1>
      </div>

      <hr />

      <div class="todos-container">

        <input type="text"
               class="form-control input-lg"
               placeholder="Sooo... what are you doing today? ;)"
               ng-model="todosCtrl.todo.todoMessage"
               maxlength="100"
               mg-maxlength="100"
               mg-minlength="1"
               autofocus />

        <br />

        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="t in todosCtrl.todos">
              <td class="text-muted todo-in-todos">
                <span ng-bind="t.todoMessage"></span>
                <div class="todo-done transition"
                     ng-click="todosCtrl.deleteTodo(t._id)">x</div>
              </td>

            </tr>
          </tbody>
        </table>

        <div ng-if="!todosCtrl.todos.length">
          <h3 class="text-muted text-center">Nothing to do. Go play outside :D</h3>
        </div>

      </div>

      <hr />

      <div class="footer-container">
        <button type="submit"
                id="submit-todo-button"
                class="btn btn-success btn-block btn-lg submit-todo"
                ng-disabled="TodoForm.$invalid || !todosCtrl.todo.isValid()"> ADD </button>
      </div>

    </form>

  </div>
</div>
