<!doctype html>
<html>
  <head>
    <base href="/" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <title>ng2do</title>
  </head>
  <body>

    <todo-cmp></todo-cmp>

    <% if (stack !== "client") { %>
    <script src="./systemjs/dist/system.js?rev=@@hash"></script>
    <script src="./reflect-metadata/Reflect.js?rev=@@hash"></script>
    <script src="./zone.js/dist/zone.js?rev=@@hash"></script>
    <script src="./config.js?rev=@@hash"></script>
    <% } else { %>
    <script src="node_modules/systemjs/dist/system.js?rev=@@hash"></script>
    <script src="node_modules/reflect-metadata/Reflect.js?rev=@@hash"></script>
    <script src="node_modules/zone.js/dist/zone.js?rev=@@hash"></script>    
    <script src="./config.js"></script>
    <% } %>

    <script>
      System.import("./index.js");
    </script>

  </body>
</html>
