<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <base href="/" />>
    <title>Stuff todo!</title>
    <link rel="stylesheet" href="./todo/components/todo.css" />

    <script src="node_modules/traceur/bin/traceur-runtime.js"></script>
    <script src="node_modules/es6-module-loader/dist/es6-module-loader.js"></script>
    <script src="node_modules/systemjs/dist/system.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.35/angular2.js"></script>
  </head>
  <body>

    <todo></todo>

    <script>System.import('index');</script>

  </body>
</html>
