<!doctype html>
<html>
  <head>
    <base href="/" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <title>ng2do</title>
  </head>
  <body>

    <todo-cmp></todo-cmp>

    <script src="./systemjs/dist/system.js?rev=@@hash"></script>
    <script>
      System.config({
                      defaultJSExtensions: true
                    });
    </script>
    <script src="./rxjs/bundles/Rx.js?rev=@@hash"></script>
    <script src="./angular2/bundles/angular2-polyfills.js?rev=@@hash"></script>
    <script src="./angular2/bundles/angular2.js?rev=@@hash"></script>
    <script src="./angular2/bundles/http.js?rev=@@hash"></script>
    <script src="./angular2/bundles/router.js?rev=@@hash"></script>

    <script>
      System.import("./index.js");
    </script>

  </body>
</html>
