.todo-panel {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  padding: 0 25px 25px;
}

.todos-container .form-control {
  font-size: 17px;
  border-radius: 0;
}

.todo-in-todos {
  position: relative;
}

.todo-done {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 15px;
}
